html, body {
	font-size: 12pt;
	background: #EEF2FF;
	color: #000000;
}

a {
	background: inherit;
	color: #34345C;
	text-decoration: none;
	font-family: sans-serif;
}

a:visited {
	background: inherit;
	color: #34345C;
	text-decoration: none;
	font-family: sans-serif;
}

a:hover {
	color: #DD0000;
	background: inherit;
	font-family: sans-serif;
}

hr {
	color: #34345C;
	background-color: #34345C;
	background-image: -webkit-linear-gradient(left,rgba(238,242,255,1),rgba(52,52,92,0.75),rgba(238,242,255,1));
	background-image: -moz-linear-gradient(left,rgba(238,242,255,1),rgba(52,52,92,0.75),rgba(238,242,255,1));
	background-image: -ms-linear-gradient(left,rgba(238,242,255,1),rgba(52,52,92,0.75),rgba(238,242,255,1));
	background-image: -o-linear-gradient(left,rgba(238,242,255,1),rgba(52,52,92,0.75),rgba(238,242,255,1));
}

.filesize a {
	text-decoration: underline;
}

.filesize a:visited {
	text-decoration: underline;
}

.adminbar {
	background: inherit;
}

.logo {
	clear: both;
	text-align: center;
	background: inherit;
	font-size: 24pt;
	color: #AF0A0F;
	width: 100%;
}

.replymode {
	background: #0010E0;
	color: #FFFFFF;
	width: 100%;
}

.manageinfo {
	background: #00B930;
	color: #FFFFFF;
	width: 100%;
}

.catalogmode {
	background: #0040E0;
	color: #FFFFFF;
	width: 100%;
}

.postarea {
	background: inherit;
}

.rules {
	/*font-size:0.7em;*/
	width: 468px;
	font-size: 10px;
	font-family: sans-serif;
}

.rules li {
	margin-left: 1em;
	/*text-indent: 0em;*/
}

.postblock {
	background: #9988EE;
	color: #000000;
	font-weight: 800;
}

.footer {
	font-size: 10px;
	font-family: sans-serif;
}

.passvalid {
	background: #9988EE;
	text-align: center;
	width: 100%;
	color: #ffffff;
}

.dellist {
	background: inherit;
	text-align: center;
}

.delbuttons {
	background: inherit;
	text-align: center;
	padding-bottom: 4px;
}

.managehead {
	background: #0F8FE1;
	color: #000000;
	font-family: sans-serif;
	font-size: 14px;
	padding: 0;
}

.postlists {
	background: #FFFFFF;
	width: 100%;
	padding: 0;
	color: #000000;
}

.row1 {
	background: #9AD2F6;
	font-family: sans-serif;
	font-size: 12px;
	color: #000000;
}

.row2 {
	background: #FFFFFF;
	font-family: sans-serif;
	font-size: 12px;
	color: #000000;
}

.unkfunc {
	color: #789922;
}

.filesize {
	font-size: 12px;
	font-family: sans-serif;
	text-decoration: underline;
	/*padding-left:3em;*/
}

.filetitle {
	background: inherit;
	font-size: 18px;
	font-family: serif;
	color: #0F0C5D;
	font-weight: 800;
}

.postername {
	background: inherit;
	font-size: 12px;
	font-family: serif;
	color: #117743;
	font-weight: 800;
}

.oldpost {
	background: inherit;
	font-size: 18px;
	font-family: serif;
	color: #0F0C5D;
	font-weight: 800;
}

.omittedposts {
	background: inherit;
	font-size: 18px;
	font-family: serif;
	color: #070707;
	font-weight: 800;
}

.reply {
	background: #D6DAF0;
	color: #000000;
	font-family: serif;
}

.replyhl {
	background: #D6BAD0;
	color: #000000;
}

.replytitle {
	background: inherit;
	font-size: 18px;
	font-family: serif;
	color: #0F0C5D;
	font-weight: 800;
}

.commentpostername {
	background: inherit;
	font-size: 12px;
	font-family: serif;
	color: #117743;
	font-weight: 800;
}

.thumbnailmsg {
	background: inherit;
	font-size: 9px;
	font-family: sans-serif;
	color: #000000;
}